<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="/resources/css/app.css" th:href="@{/resources/css/app.css}" />
</head>
<body>

    <div th:fragment="navbar">
        <!-- begin fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <form th:action="@{/logout}" method="post" class="navbar-form navbar-right" role="form">
                    <div class="form-group">
                        <div th:if="${#httpServletRequest.remoteUser != null}">
                            <div class="text-color-white" th:text="${#httpServletRequest.remoteUser}">
                                Sample User
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-link">Logout</button>
                </form>
            </div>
        </div><!--end fixed navbar-->
    </div>

</body>
</html>