<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head.html :: head (#{profile})">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../../resources/css/flat-ui.css" th:href="@{/resources/css/flat-ui.css}" />
    <link rel="stylesheet" href="../../resources/css/app.css" th:href="@{/resources/css/app.css}" />
    <script src="../../resources/js/jquery.min.1.11.0.js" th:src="@{/resources/js/jquery.min.1.11.0.js}"></script>
    <script src="../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>

    <header th:replace="fragments/header-navbar.html :: navbar-top">Header Navbar</header>
    <!--begin container-->
    <div class="container">
        <h3 class="sub-header">Change Password:</h3>
        <form action="#" th:action="@{/user/password}" th:object="${changePasswordForm}" method="post" class="form-horizontal" role="form">
            <div th:if="${#fields.hasErrors('*')}" id="errMsg" class="alert alert-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                </ul>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Old Password:</label>
                <div class="col-sm-4" th:classappend="${#fields.hasErrors('oldPassword')}?'has-error'">
                    <input type="password" name="oldPassword" th:field="*{oldPassword}" class="form-control" placeholder="Old Password" required="true"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">New Password:</label>
                <div class="col-sm-4" th:classappend="${#fields.hasErrors('newPassword')}?'has-error'">
                    <input type="password" name="newPassword" th:field="*{newPassword}" class="form-control" placeholder="New Password" required="true"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Confirm Password:</label>
                <div class="col-sm-4" th:classappend="${#fields.hasErrors('confirmPassword')}?'has-error'">
                    <input type="password" name="confirmPassword" th:field="*{confirmPassword}" class="form-control" placeholder="Confirm Password" required="true"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5">
                    <button type="submit" class="btn btn-sm btn-primary">Update</button>
                </div>
            </div>
        </form>

    </div><!--end container-->
</body>
</html>