<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="/resources/css/app.css" th:href="@{/resources/css/app.css}" />
</head>
<body>
    <h2 th:text="${errCode}">ErrorCode:</h2>
    <h2 th:text="${errMsg}">Message</h2>

    <div th:text="|Failed URL: ${url}|">Failed URL</div>
    <div th:each="items : ${exception.stackTrace}" th:text="${items}">Exception</div>
</body>
</html>