<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head.html :: head (#{login})">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../../resources/css/flat-ui.css" th:href="@{/resources/css/flat-ui.css}" />
    <link rel="stylesheet" href="../../resources/css/app.css" th:href="@{/resources/css/app.css}" />
    <script src="../../resources/js/jquery.min.1.11.0.js" th:src="@{/resources/js/jquery.min.1.11.0.js}"></script>
    <script src="../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../resources/js/flatui-checkbox.js" th:src="@{/resources/js/flatui-checkbox.js}"></script>
</head>
<body>
    <!--begin container-->
    <div class="container">
        <div class="col-sm-4 col-sm-offset-4">
            <div id="loginPanel" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Login</h3>
                </div>
                <div class="panel-body">
                    <form th:action="@{/login}" method="post" role="form">
                        <div th:if="${param.error}" class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            Invalid username and password.
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            You have been logged out.
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                <input type="email" name="email" class="form-control" placeholder="Email Address" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                <input type="password" name="password" class="form-control" placeholder="Password" required/>
                            </div>
                        </div>
                        <div>
                            <label class="checkbox" for="remember-me-checkbox">
                                <input type="checkbox" id="remember-me-checkbox" name="_spring_security_remember_me" data-toggle="checkbox"/>Remember Me
                                <a href="#" class="pull-right">Forgot Password?</a>
                            </label>
                        </div>
                        <input type="submit" value="Login" class="btn btn-primary btn-block"/>
                    </form>
                </div>
                <div class="panel-footer text-center">
                    <a href="#">Don't have an account? Register</a>
                </div>
            </div><!-- end loginPanel-->
        </div>
    </div><!-- end container -->
</body>
</html>