<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="/resources/css/app.css" th:href="@{/resources/css/app.css}" />
</head>
<body>
    <!--begin container-->
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <div id="loginPanel" class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Login</h3>
                </div>
                <div class="panel-body">
                    <form th:action="@{/login}" method="post" role="form">
                        <div th:if="${param.error}" class="alert alert-danger">
                            Invalid username and password.
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success">
                            You have been logged out.
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Email Address"/>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Password"/>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="remember" type="checkbox" value="Remember Me"/> Remember Me
                                <a href="#" class="pull-right">Forgot Password?</a>
                            </label>
                        </div>
                        <input type="submit" value="Login" class="btn btn-primary btn-block"/>
                    </form>
                </div>
                <div class="panel-footer text-center">
                    <a href="#">Don't have an account? Register</a>
                </div>
            </div><!-- end loginPanel-->
        </div>
    </div><!-- end container -->
</body>
</html>