<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head.html :: head (#{profile})">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../../resources/css/flat-ui.css" th:href="@{/resources/css/flat-ui.css}" />
    <link rel="stylesheet" href="../../resources/css/app.css" th:href="@{/resources/css/app.css}" />
    <script src="../../resources/js/jquery.min.1.11.0.js" th:src="@{/resources/js/jquery.min.1.11.0.js}"></script>
    <script src="../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>

    <header th:replace="fragments/header-navbar.html :: navbar-top">Header Navbar</header>
    <!--begin container-->
    <div class="container">
        <div class="col-xs-12 col-sm-8 col-md-6">
            <h3 class="sub-header">My Profile:</h3>
            <form action="#" th:action="@{/user/profile}" th:object="${userProfileForm}" method="post" class="form-horizontal" role="form">
                <input type="hidden" name="_method" value="PUT" />
                <!--<input type="hidden" name="id" th:field="*{id}" />-->
                <!--<input type="hidden" name="email" th:field="*{email}" />-->
                <div th:if="${#fields.hasErrors('*')}" id="errMsg" class="alert alert-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="first-name">First Name:</label>
                    <div class="col-sm-8" th:classappend="${#fields.hasErrors('firstName')}?'has-error'">
                        <input type="text" id="first-name" name="firstName" th:field="*{firstName}" class="form-control" placeholder="First Name" required="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="last-name">Last Name:</label>
                    <div class="col-sm-8" th:classappend="${#fields.hasErrors('lastName')}?'has-error'">
                        <input type="text" id="last-name" name="lastName" th:field="*{lastName}" class="form-control" placeholder="Last Name" required="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="common-name">Common Name:</label>
                    <div class="col-sm-8" th:classappend="${#fields.hasErrors('commonName')}?'has-error'">
                        <input type="text" id="common-name" name="commonName" th:field="*{commonName}" class="form-control" placeholder="Common Name" required="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-sm btn-primary">Update</button>
                        <a href="#" th:href="@{/home}" type="button" class="btn btn-sm btn-primary">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div><!--end container-->
</body>
</html>