<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head.html :: head">
    <link rel="stylesheet" href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../../../resources/css/flat-ui.css" th:href="@{/resources/css/flat-ui.css}" />
    <link rel="stylesheet" href="../../../resources/css/app.css" th:href="@{/resources/css/app.css}" />
    <script src="../../../resources/js/jquery.min.1.11.0.js" th:src="@{/resources/js/jquery.min.1.11.0.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../../resources/js/flatui-checkbox.js" th:src="@{/resources/js/flatui-checkbox.js}"></script>
</head>
<body>

    <div th:fragment="add-user">
        <form action="#" th:action="@{/admin/user/add}" th:object="${user}" method="post" class="form-horizontal" role="form">
            <fieldset>
                <legend class="h3">Add New User</legend>
                <div th:if="${#fields.hasErrors('*')}" id="errMsg" class="alert alert-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                    </ul>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-6" th:classappend="${#fields.hasErrors('firstName')}?'has-error'">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
                            <input type="text" name="firstName" th:field="*{firstName}" class="form-control" placeholder="First Name" required="true"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6" th:classappend="${#fields.hasErrors('lastName')}?'has-error'">
                        <input type="text" name="lastName" th:field="*{lastName}" class="form-control" placeholder="Last Name" required="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12" th:classappend="${#fields.hasErrors('commonName')}?'has-error'">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                            <input type="text" name="commonName" th:field="*{commonName}" class="form-control" placeholder="Common Name"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12" th:classappend="${#fields.hasErrors('email')}?'has-error'">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                            <input type="email" name="email" th:field="*{email}" class="form-control" placeholder="Email Address" required="true"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-4">
                        <label class="checkbox" for="admin-checkbox">
                            <input type="checkbox" id="admin-checkbox" name="admin-user" data-toggle="checkbox"/>
                            <span class="label label-info">Admin</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8">
                        <button type="submit" class="btn btn-success">Add</button>
                        <button type="reset" class="btn btn-default">Reset</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

</body>
</html>