<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="/resources/css/app.css" th:href="@{/resources/css/app.css}" />
</head>
<body>

    <div th:include="layout/navbar-header.html :: navbar">Navbar</div>

    <h1 th:text="${message}">Message</h1>

    <div class=""></div>

</body>
</html>