<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head.html :: head">
    <link rel="stylesheet" href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../../../resources/css/app.css" th:href="@{/resources/css/app.css}" />
    <script src="../../../resources/js/jquery.min.1.11.0.js" th:src="@{/resources/js/jquery.min.1.11.0.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>

    <div th:fragment="users-list" th:unless="${#lists.isEmpty(allUsers)}">
        <h3 class="sub-header">User List</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Common Name</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user, status : ${allUsers}" >
                    <td th:text="${status.count}"></td>
                    <td th:text="${user.firstName}">Yao</td>
                    <td th:text="${user.lastName}">Xiao</td>
                    <td th:text="${user.commonName}">Jason</td>
                    <td th:text="${user.email}">yao.xiao@hp.com</td>
                    <!-- use Spring EL to convert Enum and compare -->
                    <td><span th:if="${user.role==T(com.hp.manner.model.User.Role).ADMIN}" class="label label-info">Admin</span></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>