<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/head.html :: head">
    <link rel="stylesheet" href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../../../resources/css/flat-ui.css" th:href="@{/resources/css/flat-ui.css}" />
    <link rel="stylesheet" href="../../../resources/css/app.css" th:href="@{/resources/css/app.css}" />
    <script src="../../../resources/js/jquery.min.1.11.0.js" th:src="@{/resources/js/jquery.min.1.11.0.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>

    <header th:fragment="navbar-top">
        <!-- begin fixed top navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- navbar header-->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/home}">Team Manner</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <form id="logout-form" th:action="@{/logout}" method="post" role="form">
                    <!--<button type="submit" class="btn btn-link">Logout</button>-->
                </form>

                <div th:if="${#authentication.authenticated}" class="navbar-collapse collapse">

                    <ul id="navbar-menu" class="nav navbar-nav" sec:authorize="hasRole('ROLE_ADMIN')">
                        <li><a href="#" th:href="@{/admin/users}">Users Managements</a></li>
                    </ul>

                    <ul class="nav navbar-nav pull-right">
                        <!--<li><a href="#" th:text="${#authentication.name}">Username<span class="navbar-new">2</span></a></li>-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span th:text="${#authentication.name}">Username</span>
                                <!--<span class="navbar-new">2</span>-->
                                <b class="caret"></b>
                            </a>
                            <span class="dropdown-arrow hidden-xs"></span>
                            <ul class="dropdown-menu">
                                <li><a href="#" th:href="@{/user/profile}">Change My Profile</a></li>
                                <li><a href="#" th:href="@{/user/password}">Change My Password</a></li>
                                <!--<li class="divider"></li>-->
                            </ul>
                        </li>
                        <li><a href="#" class="navbar-link" onclick="$('#logout-form').submit();">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav><!--end fixed top navbar-->
        <script>
            $(function(){
                var path = window.location.pathname;
                $('#navbar-menu').find('a[href="'+ path +'"]').parent().addClass('active');
            });
        </script>
    </header>

</body>
</html>